@model IEnumerable<ParkingSlotDataLib.BookingSlot>

@{
    ViewBag.Title = "availableslots";
}

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<h2>availableslots</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
@foreach (var item in Model) {
    <tr>
            @Html.DisplayFor(modelItem => item.Id)
    
            @Html.DisplayFor(modelItem => item.VehicleNumber)
     
            @Html.DisplayFor(modelItem => item.AllocatedDate)
       
            @Html.DisplayFor(modelItem => item.AllocatedTime)
   
            @Html.DisplayFor(modelItem => item.VehicleType)
    </tr>
}
</table>
