@model IEnumerable<ParkingSlotDataLib.BookingSlot>

@{
    ViewBag.Title = "availableslots";
}

<h2>availableslots</h2>

<style>
    body {
        margin: 4rem 0;
    }

    h4 {
        margin-bottom: 2rem;
        margin-top: 3rem;
    }

    .panel {
        height:auto;
        width:auto;
        border-radius: 0.2rem;
        padding: 1rem;
        margin-bottom: 0.2rem;
    }

        .panel.panel-purple {
            border: 1px solid #7f51f4;
            background-color: #dfccff;
            color: #7f51f4;
        }
</style>


<div class="container">

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-2">
                <div class="panel panel-purple">
                    <h4>
                        <b>
                            @Html.DisplayFor(modelItem => item.Id)
                        </b>
                    </h4>
                      @Html.DisplayFor(modelItem => item.VehicleType)
                </div>
            </div>
        }
        </div>
    
    </div>

@*@foreach (var item in Model) {

                @Html.DisplayFor(modelItem => item.Id)

                @Html.DisplayFor(modelItem => item.VehicleNumber)

                @Html.DisplayFor(modelItem => item.AllocatedDate)

                @Html.DisplayFor(modelItem => item.AllocatedTime)

                @Html.DisplayFor(modelItem => item.VehicleType)

    }*@

