@model ParkingSlotDataLib.BookingSlot
<h3>Are you sure you want to Unallocated this Slots</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehicleNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllocatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllocatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllocatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllocatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Back To UnAllocate Slots List", "UnallocateParkingSlot")
        <input type="submit" value="Confirm" class="btn btn-danger" style="background-size:100px" />
    </div>
    }
</div>
