<h2>HomePage</h2>

<div>
    <input type="button" value="Show Avialable Slots" onclick="location.href='@Url.Action("SlotAvaiabilty", "BookingSlots")'" />
</div>
<div>
    <input type="button" value="All Slots" onclick="location.href='@Url.Action("AllSlots", "BookingSlots")'" />
</div>
<div>
    <input type="button" value="Book New Slots" onclick="location.href='@Url.Action("BookSlot", "BookingSlots")'" />
</div>
<div>
    <input type="button" value="UnAllocate Parking Slot" onclick="location.href='@Url.Action("UnallocateParkingSlot", "BookingSlots")'" />
</div>
<div>
    <input type="button" value="Parking History" onclick="location.href='@Url.Action("ParkingHistory", "BookingSlots")'" />
</div>


