<h2>HomePage</h2>


    <input type="button" value="Show Avialable Slots"  class="btn btn-primary btn-lg btn-block" onclick="location.href='@Url.Action("SlotAvaiabilty", "BookingSlots")'" />

    <input type="button" value="All Slots" class="btn btn-primary btn-lg btn-block" onclick="location.href='@Url.Action("AllSlots", "BookingSlots")'" />

    <input type="button" value="Book New Slots" class="btn btn-primary btn-lg btn-block" onclick="location.href='@Url.Action("BookSlot", "BookingSlots")'" />

    <input type="button" value="UnAllocate Parking Slot" class="btn btn-primary btn-lg btn-block" onclick="location.href='@Url.Action("UnallocateParkingSlot", "BookingSlots")'" />

    <input type="button" value="Parking History" class="btn btn-primary btn-lg btn-block" onclick="location.href='@Url.Action("ParkingHistory", "BookingSlots")'" />



